body {
	box-sizing: border-box;
	background-color: hsl(224, 92%, 90%);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	margin: 0px;
	box-sizing: border-box;
}

.calculator {
	display: flex;
	width: 250px;
	max-height: 300px;
	background-color: hsl(224, 88%, 78%);
	flex-direction: column;
	padding: 10px;
	border-style: solid;
	font-size: 1.5rem;
	border-color: lightslategray;
}
.display {
	box-sizing: border-box;
	align-self: center;
	width: 240px;
	height: 2rem;
	background-color: hsl(224, 100%, 95%);
	margin: 5px;
	margin-bottom: 10px;
	padding: 5px;
	display: flex;
	justify-content: right;
	align-items: center;
	border-style: solid;
	border-width: 0.5px;
	border-color: lightslategray;
}

.buttons {
	align-self: center;
	display: grid;
	min-width: 240px;
	max-height: 700px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 10px;
}
.buttons button {
	border-style: none;
	border-radius: 5px;
}

.numbers {
	grid-column-start: span 3;
	grid-row-start: span 4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 10px;
}
.number-zero {
	grid-column-start: span 2;
}
.number-btn,
#decimalBtn {
	background-color: hsl(224, 92%, 90%);
	height: 2rem;
	min-width: 2rem;
	/* background-color: lightgray; */
}
.number-btn:hover,
#decimalBtn:hover {
	background-color: hsl(224, 92%, 75%);
}
.operator-btn {
	height: 2rem;
	min-width: 2rem;
	/* grid-column-start: -1; */
}
#backspaceBtn,
.operator-btn {
	background-color: hsl(300, 47%, 85%);
}
#backspaceBtn:hover,
.operator-btn:hover {
	background-color: hsl(300, 47%, 75%);
}
#clearBtn {
	grid-column-start: span 2;
}
#equalsBtn {
	grid-column-start: span 1;
}

header {
	align-self: center;
}
header > h1 {
	font-family: monospace;
	font-size: 2.5rem;
}
main {
	flex-grow: 1;
	display: flex;
	align-self: center;
}
.footer {
	flex: 0 0 0;
	background-color: #fad2e1;
	margin: 0px;
	display: flex;

	justify-content: center;
	align-content: center;
}
.links {
	margin: 1rem;
	padding: 0px;
}
.links > li {
	list-style: none;
	text-align: center;
}
a {
	color: black;
}
